/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Changa";
  src: url("assets/fonts/fonts/Changa-Regular.woff2") format("woff2"),
    url("assets/fonts/fonts/Changa-Regular.woff") format("woff"),
    url("assets/fonts/fonts/Changa-Regular.ttf") format("truetype"),
    url("assets/fonts/fonts/Changa-Regular.svg#Changa") format("svg");
}

/* Color Palette
https://colorhunt.co/palette/04156211468fda1212eeeeee
*/

/* * {
  border: 1px solid grey;
} */

body {
  background-color: rgb(4, 21, 98);
  color: rgb(238, 238, 238);
  font-family: "Changa";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, 
#start,
footer,
p,
.player{
  margin-top: 10px;
  text-align: center;
}


h1 {
  font-size: 3rem;
}

.start {
  width: 150px;
  height: 60px;
  border-color: aqua;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin-top: 20%;
}

.game-board {
  display: grid;
  width: 300px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border: 5px solid orange;
  border-radius: 10px;
  /* background-color: orange; */
  margin-top: 20%;
}

.empty {
  /* height: 600px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.player {
  text-align: center;
  width: 250px;
  height: 3rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  padding-top: 4px;
  background-color: #DA1212;
  border: #fff solid 1px;
  border-radius: 1rem;
}


.cell {

  padding: 10px;
  border: 3px solid orange;
  background-color: #fff;
  /* border-radius: 5px; */
}

footer {
  margin-top: 20%;
}


footer > p {
  font-size: 1rem;
}

a {
  color: white;
  font-size: 10px;
}

.winner {

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: ; */
}

.congrats {
  font-size: 2.5rem;
  color: orange;
  font-weight: 800;
  text-align: center;
}

.win-name,
.you-won {
  margin-top: 50px;
  font-size: 2rem;
}

.party {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.emoji > img {
  height: 40px;
}

.draw {
  margin-top: 150px;
}


@media (min-width: 500px) {

  h1 {
    font-size: 5rem;
  }

  .start {
    margin-top: 50px;
  }

  .player {
    width: 300px;
    height: auto;
    padding: 0;
    font-size: 3rem;
  }

  .game-board {
    margin-top: 80px;
    width: 450px;
    height: 450px;
  }


  footer {
    margin-top: 10px;
    position: fixed;
    top: 750px

  }

  footer > p {
    font-size: 2rem;
  }

  a {
    font-size: 1rem;
  }

  .congrats {
    font-size: 5rem;
    margin-top: 50px;
  }

  .win-name,
  .you-won {
    font-size: 3rem;
  }

  .emoji > img {
    height: 80px;
  }
}